[submodule "glm"]
	path = glm
	url = ../../g-truc/glm
[submodule "assimp"]
	path = assimp
	url = ../../assimp/assimp
	branch = master
[submodule "glew"]
	path = glew
	url = ../../cpp-port/glew
[submodule "glad"]
	path = glad
	url = ../glad_3.1
